# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
*.egg

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Environment
.env

# MinIO local storage
minio-data/

# IDE
.vscode/
.idea/